<ion-view title="Category :: Delete" cache-view="false">
    <ion-content padding="true"
                 class="has-header"
                 ng-show="category"
            >

        <div class="row text-center">
            <div class="col">
                Are you sure you want to delete category '{{category.name}}' ?
            </div>
        </div>
        <div class="row assertive">
            <div class="col">
                This will delete ALL Notepads in that category!
            </div>
        </div>

        <div class="row">
            <div class="col text-right">
                <button class="button button-assertive"
                        ng-click="remove()"
                        >Delete</button>
            </div>
            <div class="col text-left">
                <button class="button"
                        ng-click="cancel()"
                        >Cancel</button>
            </div>
        </div>

    </ion-content>
</ion-view>
