<ion-view title="Dashboard" hide-back-button="true">

    <ion-nav-buttons side="primary">
        <a class="button button-icon ion-plus-circled"
           href="#/app/notepads/add"></a>
    </ion-nav-buttons>

    <ion-content padding="true"
                 class="has-header"
                 overflow-scroll="false"
                 has-bouncing="true"
                 ng-show="cats">

        <ion-list ng-repeat="cat in cats | orderBy: 'name' track by cat._id">
            <ion-item class="item-divider item-icon-right">
                {{cat.name}}
                <a class="icon ion-ios-plus-empty"
                   style="text-decoration: none; color: #000000;"
                   href="#/app/notepads/add/catid/{{cat._id}}"></a>
            </ion-item>

            <ion-item href="#/app/notepads/{{notepad._id}}"
                      ng-repeat="notepad in cat.notepads | orderBy: '-_id' track by notepad._id"
                    >
                {{notepad.title}}
            </ion-item>

            <div class="spacer" style="width: 100%; height: 10px;"></div>
        </ion-list>

    </ion-content>
</ion-view>
