<ion-view title="Notepads" hide-back-button="true">
    <ion-content padding="true"
                 class="has-header"
    >

        <button class="button button-full button-positive"
                ng-click="login()"
                ng-if="!isLoggedIn">
            Login with Facebook
        </button>

        Connects the app with Facebook and the API on https://notepads.iliyan-trifonov.com.
        You connect with Facebook only once and then your user is created on https://notepads.iliyan-trifonov.com.
        Only your name and photo are saved on the server. After the login the whole communication is made between
        the app and https://notepads.iliyan-trifonov.com through a secure connection.

        <!--<div class="row" ng-if="isLoggedIn">
            <div class="col text-center">
                Pres Back again to exit
            </div>
        </div>-->

    </ion-content>
</ion-view>
