<ion-view title="Notepads" hide-back-button="true">
    <ion-content padding="true">

        <button class="button button-full button-positive"
                ng-click="login()"
                ng-if="!isLoggedIn">
            Login with Facebook
        </button>

        <div ng-if="!isLoggedIn">
        Connects the app with Facebook and the API on https://notepads.iliyan-trifonov.com.<br/><br/>
        You connect with Facebook only once and then your user is created on https://notepads.iliyan-trifonov.com.
        <br/><br/>
        Only your name and photo are saved on the server.<br/><br/>
        After the login the whole communication is made between the app and https://notepads.iliyan-trifonov.com
        through a secure connection.
        </div>

        <div ng-if="isLoggedIn">Logged in</div>

    </ion-content>
</ion-view>
