<ion-view title="Notepad :: {{topTitle}}">

    <ion-content ng-show="notepad || isAdd"
                 has-bouncing="true"
                 overflow-scroll="true"
    >

        <div class="list full">

            <label class="item item-input item-select">
                <div class="input-label">
                    Category
                </div>
                <select ng-model="notepad.category"
                        ng-disabled="!categories">
                    <option value="" ng-if="!notepad.category">Select category</option>
                    <option ng-repeat="category in categories | orderBy: 'name'"
                            ng-value="category._id"
                            ng-bind="category.name"
                            ng-selected="category._id === notepad.category || (catId && category._id === catId)">
                    </option>
                </select>
            </label>

            <label class="item item-input">
                <input type="text"
                       placeholder="Title"
                       ng-model="notepad.title" />
            </label>


                <textarea ng-model="notepad.text"
                          placeholder="Text"
                          class="full padding"
                        ></textarea>

        </div>

    </ion-content>

    <ion-footer-bar class="bar">
        <div class="button-bar">
            <a class="button button-positive"
               ng-click="update()"
               ng-disabled="!notepad.title || !notepad.text || (!notepad.category && !catId)"
            >{{btnTxt}}</a>
            <a class="button"
               ng-click="cancel()"
            >Cancel</a>
        </div>
    </ion-footer-bar>

</ion-view>
