<ion-view title="Notepad Delete" cache-view="false">
    <ion-content padding="true"
                 class="has-header"
                 ng-show="notepad"
    >

        <div class="row text-center">
            <div class="col">
                Are you sure you want to delete notepad '<strong>{{notepad.title}}</strong>' ?
            </div>
        </div>

        <div class="row">
            <div class="col text-right">
                <button class="button button-assertive"
                        ng-click="remove()"
                >Delete</button>
            </div>
            <div class="col text-left">
                <button class="button"
                        ng-click="cancel()"
                >Cancel</button>
            </div>
        </div>

    </ion-content>
</ion-view>
