<ion-view title="Notepad">

    <ion-content padding="true"
                 ng-show="notepad"
                 has-bouncing="true">
        <div class="item item-divider" ng-bind="notepad.title"></div>

        <div class="item item-text-wrap notepad_text"
             ng-bind-html="notepad.text | linky:'_blank'">
        </div>
    </ion-content>

    <ion-footer-bar class="bar">
        <div class="button-bar">
            <a class="button button-icon icon ion-edit"
               href="#/app/notepads/{{notepad._id}}/edit"></a>
            <a class="button button-icon icon ion-android-delete assertive"
               href="#/app/notepads/{{notepad._id}}/delete"></a>
        </div>
    </ion-footer-bar>

</ion-view>
